<ion-view view-title="{{group.name}}">
	
	<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-clear">
    <i class="ion-chevron-left"></i> Chats
  </ion-nav-back-button>
  
	<ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true" id='messages'
                 >

        
		<div ng-repeat="message in messages"
           ng-class="{other: (message.sender !== user)}"
           class="messages">
		   
		   	<div class="message">
				<span class="msg">{{ message.message }}</span>
			</div>

			<!--
			<div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
				<span >{{ message.text }}</span>
			</div>
			
			<div class="time" ng-class="{'slide-right': hideTime,'' : !hideTime}">{{message.time}}</div>
			-->

		</div>
		
	</ion-content>
	<ion-footer-bar keyboard-attach class="bar-positive ">
		<form id="formID" name="sendMessageForm" novalidate name="msgForm" class="item-input-inset">
			<label class="item-input-wrapper item-text-wrap">
				<input type="text" placeholder="Type your message" ng-model="inputMessage.message"/>
			</label>
			<button class="button button-icon button-small ion-paper-airplane" ng-click="sendMessage(inputMessage.message)" ng-disabled="!inputMessage.message || inputMessage.message === ''"></button>
			<button class="button button-icon button-small ion-image" ng-click="sendImages()"></button>		
		<form>
    </ion-footer-bar>     
</ion-view>