<ion-view view-title="Login" style='background-color: rgba(255, 255, 255, 0.5);'>
  <ion-content class="has-header">
    <div class="padding">
    <img src='./img/nusTalkIcon.webp' id='loginIcon' 
   style='height: 200px;width: 200px;position: relative;display: block;margin: 0 auto;'>
      <button class="button button-block button-assertive" ng-click="loginWithIVLE()"  style='width: 200px; margin:0 auto; margin-top:50px' >
       	IVLE Login
      </button>

     </div>
   </ion-content>
</ion-view>