<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="NUSTalkSideMenu"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
     <img class="item-thumbnail img-circle" src="{{DP}}" ng-click="imageShow(imageUrl)"></img>
      <h4 id="sideMenuUser">{{Username}}</h4>
      <h5 id="sideMenuId"> @{{UserId}} </h5>
      <ion-list>
        <ion-item  class="item item-icon-left" menu-close href="#/NUSTalk/home">
          <i class="icon ion-home"></i> Home
        </ion-item>
        <ion-item  class="item item-icon-left" menu-close href="#/Profile">
          <i class="icon ion-person"></i> Profile
        </ion-item>
        <ion-item  class="item item-icon-left" menu-close href="#/NUSTalk/settings">
          <i class="icon ion-ios-settings-strong"></i> Settings
        </ion-item>
      </ion-list>
      
      <button menu-close class="button button-block button-assertive footer" id="logout" ng-click="logout()"> Logout </button>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
