.float-button {
 
background-color:blue;
opacity: 0.9;
color: black;
border-radius: 60%;
/*border-radius:15% 0 0 0;*/
width: 30px;
padding: 25px;
font-size: 40px;
position: fixed;
bottom: 5%; /* Adjust height */
right: 5%; /* Adjust position */
z-index: 1000;
}
 
.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}
 
.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
  font-size: 20px;
}/* Empty. Add your own CSS if you like */

.img-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#sideMenuUser {
  text-align: center;
}
#sideMenuId {
  text-align: center;
  margin-bottom: 30px;
}

#logout {
  margin-top: 200px;
}

#HomepageHeading {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
}
.button-icon {
  border: solid black;
}